* {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
}

.gameboard {
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

.gameArrayTile {
    font-size: 4rem;
    height: 100%;
    width: 100%;
    background: none;
    border: 1px solid black;
}

.resultnotification {
    font: 700;
}